:root {
    --main: hsl(241, 87%, 71%);
    --secondary: hsl(217, 15%, 58%);
    --light: hsl(223, 54%, 95%);
    --dark: hsl(209, 20%, 21%);

    --theme1: hsl(195, 88%, 45%);
    --theme2: hsl(146, 87%, 40%);
    --theme3: hsl(36, 94%, 57%);
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ GENERAL ════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

body {
    font-family: 'Poppins';
    color: var(--dark);
    overflow-x: hidden;
}

body *::selection {
    color: var(--light);
}

.shadow {
    box-shadow: 4px 4px 8px #b8b9be,-4px -4px 8px #fff!important;
    transition: 0.3s ease;
    outline: 2px solid hsla(218, 15%, 58%, 0.1);
}

.shadow--btn {
    box-shadow: 2px 2px 4px #b8b9be,-2px -2px 4px #fff!important;
    transition: 0.3s ease;
    outline: 2px solid hsla(218, 15%, 58%, 0.1);
}

.shadow--btn-inset {
    box-shadow: inset 2px 2px 4px #b8b9be,inset -2px -2px 4px #fff!important;
    transition: 0.3s ease;
    outline: 2px solid hsla(218, 15%, 58%, 0.1);
}

.shadow--active {
    box-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #fff!important;
}

.shadow:hover {
    box-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #fff!important;
    transition: 0.4s ease;
    cursor: pointer;
}

h1 {
    font-size: 1.8rem;
    line-height: 2.9rem;
    font-weight: normal;
    padding-bottom: 2.4rem;
}

h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: normal;
}

h3 {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: normal;
}

p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    font-size: 1.1rem;
    color: var(--dark);
    text-decoration: none;
}

button {
    background: none;
    border: none;
    display: block;
    width: 100%;
    padding: 1rem;
}

input {
    width: 100%;
    border: none;
    border-radius: 14px;
    box-shadow: inset 4px 4px 10px #b8b9be, inset -4px -4px 10px #fff;
    padding-left: 1.4rem;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    display: flex;
}

/* ----------------------------- 📱 body media queries ------------------------------- */

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ HEADER ═════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

header {
    border-bottom: 2px solid hsla(218, 15%, 58%, 0.1);
}

.header__inner {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

/* -------------------------------------- Logo --------------------------------------- */

.logo {
    border-radius: 20px;
    max-width: 8rem;
    width: 100%;
    transition: 0.2s ease;
}

.logo svg {
    fill: var(--dark);
}

.logo:hover svg {
    transition: 0.2s ease;
}

/* --------------------------------------- Nav --------------------------------------- */

.navigation {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    justify-content: flex-end;
}

.nav__btn {
    width: 100%;
    max-width: 3rem;
    padding: 0.6rem;
    border-radius: 10px;
}

.nav__btn:hover img {
    opacity: 70%;
}

/* ---------------------------- 📱 header media queries ------------------------------ */

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ ASIDE ══════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

aside {
    width: 20%;
}

.aside__inner {
    padding: 4rem 3rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

/* ----------------------------------- Categories ------------------------------------ */

.categories {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.category {
    border-radius: 10px;
}

.category a {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

/* ---------------------------------- Add category ----------------------------------- */

.add-category__bar {
    padding: 1.1rem;
    border-radius: 10px;
    text-align: center;
}

/* --------------------------------- Delete category --------------------------------- */

.delete-category__form {
    display: flex;
    justify-content: center;
}

.delete-category__form button {
    color: hsla(209, 20%, 21%, 0.5);
    padding-top: 2rem;
    display: inline;
    width: auto;
}

/* -------------------------------------- Theme -------------------------------------- */

.theme-switcher {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.theme {
    width: 40%;
    flex-grow: 1;
    min-width: 4rem;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.theme:after {
    content: "";
    display: block;
    width: 100%;
    height: 2.6rem;
    border-radius: 8px;
    background-color: var(--main);
}

.theme--1::after {
    background-color: var(--theme1);
}

.theme--2::after {
    background-color: var(--theme2);
}

.theme--3::after {
    background-color: var(--theme3);
}

/* ----------------------------- 📱 aside media queries ------------------------------ */

/* ══════════════════════════════════════════════════════════════════════════════════════
═════════════════════════════════════════ MAIN ══════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

main {
    width: 100%;
    box-shadow: inset 6px 6px 10px 0px rgba(0,0,0,0.15);
}

.main__inner {
    padding: 4rem;
}

.error {
    color: rgb(237, 73, 73);
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    bottom: 1rem;
}

.success {
    color: rgb(0, 128, 0);
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    bottom: 1rem;
}

/* ------------------------------------- Segment ------------------------------------- */

.segment {
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #b8b9be,-4px -4px 10px #fff!important;
    outline: 1px solid hsla(218, 15%, 58%, 0.1);
}

/* ------------------------------------ Add task ------------------------------------- */

.add-task__form {
    position: relative;
    display: flex;
    align-items: center;
}

.add-task__form button {
    position: absolute;
    right: 1.2rem;
}

.add-task__bar {
    height: 6rem;
}

.round-button {
    max-width: 3.5rem;
    width: 100%;
    max-height: 3.5rem;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
}

/* ------------------------------------- To do --------------------------------------- */

.tasks {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.task {
    width: 31%;
    min-width: 17rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #b8b9be,-4px -4px 10px #fff!important;
    outline: 1px solid hsla(218, 15%, 58%, 0.1);
    display: flex;
}

/* < 1342px */
@media (max-width: 106rem) {
    .task {
        width: 48%;
    }
}

/* < 768px */
@media (max-width: 77rem) {
    .task {
        width: 100%;
    }
}

.task__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.task--done {
    flex-direction: row;
}

.task__title {
    width: 100%;
    padding-bottom: 2rem;
}

.task__bar {
    padding: 1rem;
    text-align: center;
    color: var(--dark);
    border-radius: 10px;
}

.task--done .task__title {
    padding-bottom: 0;
    text-align: left;
}

.task--done .task__title:after {
    content: none;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.action {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.task--done .action {
    align-items: flex-end;
}

.action p {
    opacity: 70%;
    font-size: 0.9rem;
}

/* ----------------------------- 📱 main media queries ------------------------------- */

/* ══════════════════════════════════════════════════════════════════════════════════════
════════════════════════════════════════ THEMES ═════════════════════════════════════════
══════════════════════════════════════════════════════════════════════════════════════ */

/* ------------------------------------ Theme0 --------------------------------------- */

.active-theme--0,
.active-theme--0 input,
.active-theme--0 .segment {
    background-color: var(--light);
}

.active-theme--0 *::selection {
    /* theme switcher */
    background-color: var(--main);
}

.active-theme--0 .shadow--active,
.active-theme--0 .shadow:hover,
.active-theme--0 input:focus {
    /* theme switcher */
    outline-color: var(--main);
}

.active-theme--0 .shadow--active button,
.active-theme--0 button:hover,
.active-theme--0 .category:hover a,
.active-theme--0 .shadow--active a {
    /* theme switcher */
    color: var(--main);
}

.active-theme--0 svg,
.active-theme--0 .logo:hover svg {
    /* theme switcher */
    fill: var(--main);
}

.active-theme--0 main {
    /* theme switcher: 15% color value change */
	background: linear-gradient(-45deg, #e3e9f4, #dfe5f1, #7775f534);
	background-size: 300% 300%;
	animation: gradient 12s ease infinite;
}

/* ------------------------------------ Theme1 --------------------------------------- */

.active-theme--1,
.active-theme--1 input,
.active-theme--1 .segment {
    background-color: #f0fbfc;
}

.active-theme--1 *::selection {
    /* theme switcher */
    background-color: var(--theme1);
}

.active-theme--1 .shadow--active,
.active-theme--1 .shadow:hover,
.active-theme--1 input:focus {
    /* theme switcher */
    outline-color: var(--theme1);
}

.active-theme--1 .shadow--active button,
.active-theme--1 button:hover,
.active-theme--1 .category:hover a,
.active-theme--1 .shadow--active a {
    /* theme switcher */
    color: var(--theme1);
}

.active-theme--1 svg,
.active-theme--1 .logo:hover svg {
    /* theme switcher */
    fill: var(--theme1);
}

.active-theme--1 main {
    /* theme switcher: 15% color value change */
	background: linear-gradient(-45deg, #ecf6fa, #e8f2f6, #46bbe23a);
	background-size: 300% 300%;
	animation: gradient 12s ease infinite;
}

/* ------------------------------------ Theme2 --------------------------------------- */

.active-theme--2,
.active-theme--2 input,
.active-theme--2 .segment {
    background-color: #f0fcf1;
}

.active-theme--2 *::selection {
    /* theme switcher */
    background-color: var(--theme2);
}

.active-theme--2 .shadow--active,
.active-theme--2 .shadow:hover,
.active-theme--2 input:focus {
    /* theme switcher */
    outline-color: var(--theme2);
}

.active-theme--2 .shadow--active button,
.active-theme--2 button:hover,
.active-theme--2 .category:hover a,
.active-theme--2 .shadow--active a {
    /* theme switcher */
    color: var(--theme2);
}

.active-theme--2 svg,
.active-theme--2 .logo:hover svg {
    /* theme switcher */
    fill: var(--theme2);
}

.active-theme--2 main {
    /* theme switcher: 15% color value change */
	background: linear-gradient(-45deg, #e6f6e8, #e3f3e4, #6fe2a12e);
	background-size: 300% 300%;
	animation: gradient 12s ease infinite;
}

/* ------------------------------------ Theme3 --------------------------------------- */

.active-theme--3,
.active-theme--3 input,
.active-theme--3 .segment {
    background-color: #fffbf3;
}

.active-theme--3 *::selection {
    /* theme switcher */
    background-color: var(--theme3);
}

.active-theme--3 .shadow--active,
.active-theme--3 .shadow:hover,
.active-theme--3 input:focus {
    /* theme switcher */
    outline-color: var(--theme3);
}

.active-theme--3 .shadow--active button,
.active-theme--3 button:hover,
.active-theme--3 .category:hover a,
.active-theme--3 .shadow--active a {
    /* theme switcher */
    color: var(--theme3);
}

.active-theme--3 svg,
.active-theme--3 .logo:hover svg {
    /* theme switcher */
    fill: var(--theme3);
}

.active-theme--3 main {
    /* theme switcher: 15% color value change */
	background: linear-gradient(-45deg, #fbf8ed, #fbf7ee, #f4d0762e);
	background-size: 300% 300%;
	animation: gradient 12s ease infinite;
}

/* ------------------------------------- Extra --------------------------------------- */

.logo svg {
    fill: var(--dark);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}