{{!-- Todos --}}
{{> header this}}
<div class="wrapper">
    {{> aside this}}
    <main>
        <article class="main__inner">
            {{#if err}}
                <p class="error error--todos">{{err}}</p>
            {{/if}}
            {{#if errCategory}}
                <p class="error error--todos">{{errCategory}}</p>
            {{/if}}
            {{#if flash.message}}
                <p class="alert error--todos {{ flash.type}}">{{ flash.message}}</p>
            {{/if}}
            <section class="segment todos">
                <h1>All To-Dos:</h1>
                <ul class="tasks">
                    {{#each todos}}
                        {{#unless isDone}}
                            {{> todo this}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </section>
            <section class="segment done-todos">
                <h1>Things you've done!</h1>
                <ul class="tasks">
                    {{#each todos}}
                        {{#if isDone}}
                            {{> done-todo this}}
                        {{/if}}
                    {{/each}}
                </ul>
            </section>
        </article>
    </main>
</div>
<script src="/scripts/helpers/themes.js"></script>