{{!-- Unauthorized --}}
{{> header this}}
<div class="wrapper">
    <main>
        <article class="main__inner main__inner--centered">
            <section class="segment welcome">
                <div class="welcome__left">
                    <h1>Error <strong>401</strong> unauthorized access:</h1>
                    <h2 class="welcome__slogan">Please login/register to view/create to-dos</h2>
                </div>
                <div class="welcome__right">
                    <a class="cta shadow shadow--btn" href="/register"><span>Register</span></a>
                    <a class="cta shadow shadow--btn" href="/login"><span>Login</span></a>
                </div>
            </section>
        </article>
    </main>
</div>