{{!-- Add a task form --}}
<section class="segment add-task">
    <h1>We've got things to do!</h1>
    <form class="add-task__form" id="addTask">
        <input class="add-task__bar" type="text" id="addTask" name="task" placeholder="Add a task to this category" maxlength="40">
        <button class="round-button shadow shadow--btn"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 800 800" viewBox="0 0 800 800"><path d="M608 302H498V192c0-54-44-98-98-98s-98 44-98 98v110H192c-54 0-98 44-98 98s44 98 98 98h110v110c0 54 44 98 98 98s98-44 98-98V498h110c54 0 98-44 98-98s-44-98-98-98z"/></svg></button>
    </form>
</section>