{{!-- Sidebar --}}
<aside>
    <article class="aside__inner">
        <div>
            <h2>Categories</h2>
            <ul class="categories">
                <form class="add-category__form" action="/" method="post">
                <input type="hidden" name="action" value="createCategory">
                    <input class="add-category__bar" type="text" name="name" placeholder="Add a category" maxlength="20">
                </form>
                {{#each categories}}
                    {{#unless isDeleted}}
                        <li class="category shadow shadow--btn" data-slug="{{ link }}">
                            <a href="/todos{{ link }}">{{ name }}</a>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div>
            <h2>Theme</h2>
            <div class="theme-switcher">
                <div id="btnTheme0" class="theme theme--0 shadow shadow--active"></div>
                <div id="btnTheme1" class="theme theme--1 shadow"></div>
                <div id="btnTheme2" class="theme theme--2 shadow"></div>
                <div id="btnTheme3" class="theme theme--3 shadow"></div>
            </div>
        </div>
    </article>
</aside>