{{!-- Structure of a done task --}}
<li class="task">
    <form class="task__form task--done" action="/todos" method="post">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="title" value="{{ title }}">
        <p class="task__title">{{ title }}</p>
        <div class="action">
            <button name="action" value="delete" class="round-button shadow shadow--btn-inset"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 800 800" viewBox="0 0 800 800"><path d="m191.8 676.1-58.5-409.4h533.3l-58.5 409.4a66.66 66.66 0 0 1-66 57.2H257.8c-33.1 0-61.3-24.4-66-57.2zM700 133.3H533.3V100c0-18.4-14.9-33.3-33.3-33.3H300c-18.4 0-33.3 14.9-33.3 33.3v33.3H100c-18.4 0-33.3 14.9-33.3 33.3S81.6 200 100 200h600c18.4 0 33.3-14.9 33.3-33.3s-14.9-33.4-33.3-33.4z"/></svg></button>
        </div>
    </form>
</li>