<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoo.app</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/todoo_favicon.png" type="image/x-icon">
</head>
<body class="active-theme--0">
    {{{body}}}
    <script src="/scripts/helpers/themes.js"></script>
    <script src="/scripts/main.js"></script>
</body>